.nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
}
.link:hover {
    background-color: red;
}